$textPrimary = #5b21be
$textSecondary = #393E46
$Cyan = #00FFF5
$darkerCyan = #00ADB5

body
  //background #f2f2f2
  background-image url('images/retro-wallpaper-large.jpeg')
  background-size cover
  background-repeat no-repeat
  background-position center
  background-attachment fixed
  overflow hidden
  height 100vh
  width 100vw
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Open Sans', sans-serif
  font-size 1em
